@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Open+Sans:wght@300&display=swap')

@mixin default-block
    padding: 0
    margin: 0
    margin-top: 5px
    margin-bottom: 5px
    padding: 10px

// FONTS

$font-main: 'Exo 2', sans-serif
$font-second: 'Open Sans', sans-serif
$font-size: 16px

// COLORS

$block-bg-color: #eee


$color-accent: crimson
$color-white: #fff
$color-black: #111

$color-dark-grey: #888
$color-grey: #aaa
$color-light-grey: #ccc

$color-dark-blue: #88a
$color-blue: #aac
$color-light-blue: #cce

$color-dark-red: #c33
$color-red: #f55
$color-light-red: #f99

$color-font: $color-black
$color-bg: $color-white
